/* Default and Global Styles */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 62.5%;
    line-height: 1.5;
    background-color: #b6bdc1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

/* Header, Content, and Footer Styles */

.header, .content, .footer {
    width: 100%; /* CHANGE */
    max-width: 80rem;
    color: black;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%; /* FIX */
    font-size: 2.4rem;
}

.footer {
    display: flex;
    background-color: white;
    padding: 2rem;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

}

.content {
    display: flex;
    background-color: #b4bec4;
    flex: 1;
    text-align: justify;
    padding: 2rem;
    margin: 0 auto;
    font-size: 1.6rem;
    justify-content: center;
}

/* Logo */

#header-logo {
    height: 50px;
    width: auto; 
    margin-top: 20px; /* FIX */
    margin-left: 20px;
}

/* Services Style */

#service {
    background-color: #F4F4F4; /* CHANGE COLOR */
    padding: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.services h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.services p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

#services-pdf, #resume-pdf {
    width: 660px;
    height: 660px;
}

/* Contact Form Style */

#contact{
    background-color: #FFF;
    flex: 1;
    width: 90%;
    max-width: 60rem;
    padding: 2rem;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

#contact input,
#contact textarea {
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #1e2675;
    border-radius: 1rem;
    background-color: white; 
    color: black;
    resize: vertical;
    margin-bottom: 1.2rem;
}

#contact textarea {
    height: 12rem;
}

#contact button {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.4rem 2rem;
    color: #FFF;
    border: none;
    background-color: #1e2675;
    border-radius: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

#contact button:hover {
    background-color: #000000;
    color: #FFF;
}


/* Navigation */

.nav-toggle {
    display: none;
}

.nav-icon {
    display: flex;
    width: 2rem;
    height: 1.6rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1.6rem; 
    z-index: 2;
}

.bar {
    background-color: black;
    width: 100%;
    height: 0.2rem;
    margin: 0.1rem 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
}

.bar:nth-child(1){
    transform-origin: top left;
}

.bar:nth-child(2) {
    transform-origin: center;
}

.bar:nth-child(3) {
    transform-origin: bottom left;
}

.main-nav {
    background-color: #E7ECEF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-100%);
}

.nav-list {
    gap: 1.6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item {
    background-color: #8e9192;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    border: 0.1rem solid #3D405B;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1.2rem;
}

/* Button Styling */

.contact-link {
    background-color: transparent;
    color: #3D405B;
    border: 0.1rem solid #3D405B;
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
}


.contact-link:hover, .contact-link:focus {
    background-color: #000000;
    color: #FFF;
}

.nav-item:last-child {
    margin-bottom: 0;
}

.main-nav .nav-list .nav-item:hover, .nav-item:focus {
    background-color: #000000;
    color: white !important;
}

.nav-toggle:checked ~ .main-nav {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}
 
.nav-toggle:checked + .nav-icon .bar:nth-child(1) {
    transform: rotate(45deg);
}

.nav-toggle:checked + .nav-icon .bar:nth-child(2) {
    transform: scale(0);
}

.nav-toggle:checked + .nav-icon .bar:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-home:hover, #nav-services:hover, #nav-qualifications:hover, #nav-contact:hover {
    background-color: ;
    color: white;
}


/* DESKTOP STYLE */

@media screen and (min-width:62.5rem) {
    body {
        font-size: 1.4rem;
    }

    .header, .content, .footer {
        width: 90%;
        border-radius: 1rem;
    }

    .header {
        display: flex;
        align-items: center;
        font-size: 3.2rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .footer {
        background-color: #c2def0;
        font-size: 1.4rem;
        padding: 1.6rem;
        margin: 2rem auto;
    }

    .content {
        background-color: #c2def0;
        font-size: 1.6rem;
        padding: 1.6rem;
    }

    .header-logo { /* FIX */
        height: 100px;
        width: auto;
        max-width: 100px; /* FIX */
    }

    .nav-icon {
        display: none;
    }

    .main-nav {
        justify-content: flex-end;
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-list{
        display: flex;
        justify-content: flex-end;
        gap: 1.6rem;
        flex-direction: row;
    }
    
    .nav-item {
        font-size: 1.6rem;
        text-align: center;
        background-color: transparent;
        color: #FFF; 
        border: 0.1rem solid #3D405B;
        border-radius: 1rem;
        transition: background-color 0.3s, color 0.3s;
        padding: 0.8rem 1.2rem;
        margin: 0;
    }

    .nav-item:hover, .nav-item:focus {
        background-color: #000000;
        color: white !important;
    }

}